<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>shoppingCart</title>
    <link href="../public/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>

<div class="page">
    <header>
        <img alt="logo" src="../public/images/cupcake.png" th:src="@{/images/cupcake.png}"/>
        <h1><span th:text="${session.currentUser.email}"></span></h1>
    </header>
</div>

<h1> Shoppingcart</h1>


<table>
    <thead>
    <tr>
        <th>Cupcake topping</th>
        <th>Cupcake bottom</th>
        <th>Amount</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="item : ${session.shoppingCart.ShoppingCartList}">
        <td th:text="${item.topping.toppingname}"></td>
        <td th:text="${item.bund.bundname}"></td>
        <td th:text="${item.amount}"></td>
        <td th:text="${item.getPrice()}"></td>
    </tr>
    </tbody>
</table>

<h1>Total</h1>
    <p>Subtotal: <span th:text="TotalPrice"></span></p>



<div class="btnFlex">
    <form action="/orderConfirmation" method="post">
    <button type="submit" class="shoppingCart-button">Confirm order</button>
    </form>

</div>



</body>
</html>